<% include partial/header %>

<h1>This is <%= pet.name %></h1>

<div class="row">
	<div class="col col-lg-4">
		<img src="<%= pet.img %>" class="img-thumbnail">
		<p style="text-align: center"> <%= pet.name %> </p>
	</div>
	<div class="col col-lg-8">
		<ul class="list-group">
			<li class="list-group-item">
				Name: <%= pet.name %>
			</li>
			<li class="list-group-item">
				Breed: <%= pet.breed %>
			</li>
			<li class="list-group-item">
				Diet: <%= pet.diet %>
			</li>
			<li class="list-group-item">
				Personality: <%= pet.personality %>
			</li>
		</ul>
	</div>
</div>
<% var next = "/pet/"+(pet.id+1) %>
<% var pre = "/pet/"+(pet.id-1) %>

<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
  	<% if(pet.id - 1 >= 0) { %>
    	<a class="nav-link" href="<%= pre %>"> << Previous Pet</a>
    <% } %>
  </li>
  <li class="nav-item">
  	<% if(pet.id + 1 < max){ %>
    	<a class="nav-link" href="<%= next %>">Next Pet >> </a>
	<% }else { %>
		<a class="nav-link" href="/">That's it</a>
	<% } %>
  </li>
</ul>

<% include partial/footer %>

